

<div class="aule">
    <div class="container">
        <div class="ten columns">
            <h2>Eventi attuali</h2>
            <#list aule as aula>
            <fieldset>
                <legend class="nome_aula">Aula ${aula.nome}</legend>
                <#list eventi as evento>
                <#if evento.aulaKey == aula.key>
                <div class="contenitore_evento">
                    <p>(${evento.dataEvento})  ${evento.nome}</p>
                    <p><span class="info">Responsabile</span>: ${evento.responsabile.email}</p>
                    <p><span class="info">Tipologia</span>: ${evento.tipologia}</p>
                    <p><span class="info">Ora Inizio</span>: ${evento.oraInizio}</p>
                    <p><span class="info">Ora Fine</span>: ${evento.oraFine}</p>
                    <p><span class="info">Descrizione</span>:</p>
                    <p class="descrizione">${evento.descrizione}</p>
                </div>
                <br>

                </#if>
                </#list>
            </fieldset>
            </#list>
        </div>

    </div>
</div>


