<div class="CSV form">
    <div class="container">
        <div class="ten columns">
            <div class="return">
                <a href="homepage">torna alla homepage</a>
            </div>
            <p>Scarica gli eventi di un determinato periodo a tua scelta in formato CSV</p>
            <form method="post" action="csv_eventi">
                <#if gruppoID?has_content>
                <input type="hidden" name="IDgruppo" value=${gruppoID} />
                </#if>
                <label>data di inizio:</label>
                <input type="date" name="data_inizio" id="input_csv_date_1" oninput="checkCSVButton()"/><br>
                <label>data di fine:</label>
                <input type="date" name="data_fine" id="input_csv_date_2" oninput="checkCSVButton()"/><br>
                <button type="submit" id="button_csv_eventi" disabled>scarica</button>
            </form>

        </div>
    </div>
</div>
