
<div class="eventi aula">
    <div class="container">

        <div class="ten columns">
            <p class="title">Eventi AULA ${aula.nome?upper_case}</p>
        </div>

        <div class="ten columns">
            <div class="settimana">
                <p>seleziona la settimana di tuo interesse</p>
                <script src="../script/script.js"></script>
                <input type="week" name="week" id="week" onselect="check_button()" /><br>
                <button type="submit" id="button_week">vedi</button> 
                
                
            </div>
        </div>






    </div>
</div>
