<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>    
    <link rel="stylesheet" href="../styles/style.css" type="text/css"/>
    
    <body>
        
          <div class="footer">
            <div class="footer_text">Copyright &copy; 2014 ${defaults.author}. Page compiled on ${compiled_on?datetime}</div>
          </div>     
        
    </body> 
    
</html>
