<div class="aule administration">
    <div class="container">
        <div class="three columns">
            <p>Inserimento gruppi</p> 
            <form method="GET" action="administration">
                <input type="hidden" name="insert_aula" value="1" />
                <label for="input1">nome:</label>
                <input type="text" name="nome" id="input1" oninput="validateInputs()"/>
                <br>
                <label for="input2">tipo:</label>
                <input type="text" name="tipo" id="input2" oninput="validateInputs()"/>
                <br>
                <label for="input3">descrizione:</label>
                <input type="number" name="descrizione" id="input3" oninput="validateInputs()"/>
                <br>
              </div>
    </div>
</div>
