<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Prova</title>
        <link rel="stylesheet" href="../styles/style.css" type="text/css"/>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="one column">
                    <img class="logo" src="../images/logo.png"/>
                </div>
                <div class="three columns">

                    <h2>Gestione aule UnivAQ</h2>

                </div>

            </div>  
        </div>
    </body> 
</html>