<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template

<html>
    <head>
        <title>Prova</title>
        <link rel="stylesheet" href="../style/header.css" type="text/css" />
        <link rel="stylesheet" href="../style/footer.css" type="text/css" />
    </head>
    <body>
-->
<div class="container header_color">
    <div id="menu">
        
        <div class="one column " id="logo">
            <img class="logo" src="images/logo.png"/>
        </div>
        <div class="seven columns">
            <div class="title">
                <h2>UnivAQ aule</h2>
            </div>
        </div>
        <div class="two columns">
            <img class="login rigth" src="images/login.png">
            <div class="text log">login</div>
        </div> 
    </div>

    <div id="smallmenu">
        <div class="menu">
        <div class="nine columns">
            <ul>
                <li><img class="menu_icon" src="images/menu.png" />
                <ul>
                    <li><img class="logo" src="images/logo.png"/></li>
                    <li><button>login</button></li>
                    <li> &nbsp; </li>
             
                </ul>
                </li>
            </ul>
        </div>
         
       

        </div>

    </div>

</div>  
<!--
    </body> 
</html>
-->