<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>login admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/login.css" type="text/css"/>
    </head>
    <body>
        <div class="contenitore_login">
            <h1 class="titolo_login">Login Amministratore</h1>
            <form method="post" action="login">
                <h1 class="titolo_login_small">Login</h1>

                <div class="gruppo_form_login">
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Inserisci il tuo username" required />
                </div>
                <div class="gruppo_form_login">
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Inserisci la tua password" required />
                </div>
                <div class="gruppo_form_login">
                    <button type="submit" name="login" value="1">Accedi</button>
                </div>
                
                <a href="homepage">torna alla homepage</a>
            </form>
            
            <#if error?has_content>
            <p class="error">${error}</p>
            </#if>
        </div>
    </body>
</html>
