<!DOCTYPE html>

<html>
    <head>
        <title>Prova</title>
        <link rel="stylesheet" href="style/header.css" type="text/css" />
        <link rel="stylesheet" href="style/footer.css" type="text/css" />
        <link rel="stylesheet" href="style/content.css"  type="text/css" />
    </head>
    <body>

        <#include "base/header_with_login.ftl.html">
        
        <#include "base/select_administration.html">

        <#if mex?has_content && !option?has_content>
        
        <p>${mex}</p>
       


        <#include "base/footer.html">

        <script src="script/script.js"></script>
    </body>
</html>