<div class="seleziona corso">
    <div class="container">
        <div class="ten columns">
            <p class="title">Seleziona il corso di tuo interesse</p>
            
            <table>
                <thead>
                    <tr>
                        <th class="info">Nome</th>
                        <th class="info">Corso di laurea</th>
                        <th class="info">Tipo di laurea</th>
                        <th class="info">Anno di frequentazione</th>
                        <th class="info">Azione</th>
                    </tr>
                </thead>   
                <#list corsi as corso>
                <tbody>
                    <tr>
                        <td>${corso.nome}</td>
                        <td>${corso.corsoDiLaurea}</td>
                        <#assign tipoLaurea = corso.tipoLaurea>
                        <#assign tipoDiLaurea = tipoLaurea?replace("_"," ")>
                        <td>${tipoDiLaurea}</td>
                        <#assign annoFreqPrec = corso.annoDiFrequentazione-1>
                        <#assign stringAnnoFreqPrecConPunto = annoFreqPrec?string>
                        <#assign stringAnnoFreqPrec = stringAnnoFreqPrecConPunto?replace(".","")>
                        <#assign annoFreq = corso.annoDiFrequentazione>
                        <#assign stringAnnoFreqConPunto = annoFreq?string>
                        <#assign stringAnnoFreq = stringAnnoFreqConPunto?replace(".","")>
                        <td>${stringAnnoFreqPrec} / ${stringAnnoFreq}</td>
                        <td><button type="submit">vedi</button></td>
                    </tr>
                </#list>
                </tbody>
            </table>



        </div>
    </div>
</div>