<div class="seleziona corso">
    <div class="container">
        <div class="ten columns">
            <p class="title">Seleziona il corso di tuo interesse</p>
            <form method="GET" action="specificCorso">
                <div class="ricercaForm">
                    <label for="ricerca">Inserisci il nome del corso che vuoi ricercare:</label>
                    <input type="hidden" name="IDgruppo" value="${IDgruppo}"/>
                    <input type="text"  id="ricerca" name="ricerca" placeholder="nome corso">
                    <button type="submit" id="button_ricerca">cerca</button>
                </div>     
            </form>
            <table>
                <thead>
                    <tr>
                        <th class="info">Nome</th>
                        <th class="info">Corso di laurea</th>
                        <th class="info">Tipo di laurea</th>
                        <th class="info">Anno di frequentazione</th>
                        <th class="info">Azione</th>
                    </tr>
                </thead>   
                <#list corsi as corso>
                <tbody>
                    <tr>
                        <td>${corso.nome}</td>
                        <td>${corso.corsoDiLaurea}</td>
                        <#assign tipoLaurea = corso.tipoLaurea>
                        <#assign tipoDiLaurea = tipoLaurea?replace("_"," ")>
                        <td>${tipoDiLaurea}</td>
                        <td>${corso.annoDiFrequentazione}</td>
                        <td>
                            <form method="GET" action="eventi">
                                <input type="hidden" name="IDgruppo" value="${IDgruppo}">
                                <button type="submit" name="IDcorso" value="${corso.key}">vedi</button>
                            </form>  
                        </td>
                    </tr>
                </#list>
                </tbody>
            </table>



        </div>
    </div>
</div>