<div class="seleziona corso">
    <div class="container">
        <div class="ten columns">
            <p class="title">Seleziona il corso di tuo interesse</p>
            <#list corsi as corso>
            <fieldset>
                <legend>Corso ${corso.nome} </legend>
                <div class="plane corsi">  
                    <button type="submit">vedi</button>
                    <p><span class="info">Nome</span>: ${corso.nome}</p>
                    <p><span class="info">Corso di laurea</span>: ${corso.corsoDiLaurea}</p>
                    <p><span class="info">Tipo di laurea</span>: ${corso.tipoLaurea}</p>
                    <p><span class="info">Anno di frequentazione</span>: ${corso.annoDiFrequentazione}</p>
                </div>
            </fieldset>
            </#list>
        </div>
    </div>
</div>