<#if aule?has_content>
<table class="aula">
    <tr>
        <td class="extend header"></td>
        <td class="extend header">nome</td>
    </tr>
    <#assign i=1>
    <#list aule as aula>
    <#assign ID = "IDaula"+i>
    <tr>
        <td class="radio"><input type="radio" name="IDaula" value="${aula.key}"  onchange="checkAula()"/></td>
        <td class="extend">${aula.nome}</td>     
    </tr>
    <#assign i=i+1>
    </#list>
</table>   
<#else>
<p class="info">non ci sono aule esistenti</p>
</#if>