<form method="post" action="administration">
    <input type="hidden" name="IDaula" value="${aula.key}" />
    <label>nome:</label>
    <input type="text" name="nome" value="${aula.nome}" id="input_aula_1" oninput="validateAulaInputs(2)"/>
    <br>
    <label>via:</label>
    <#assign luogo = (aula.luogo)?split(",")>
    <input type="text" name="via" id="input_aula_2" placeholder="inserire nome via" value="${luogo[0]}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>n.civico:</label>
    <input type="number" name="civico" id="input_aula_3" min="1" value="${luogo[1]?number}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>edificio</label>
    <input type="text" name="edificio" id="input_aula_4" value="${aula.edificio}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>piano</label>
    <input type="number" name="piano" id="input_aula_5" min="1" value="${aula.piano?number}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>capienza</label>
    <input type="number" name="capienza" id="input_aula_6" min="1" value="${aula.capienza?number}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>prese elettriche</label>
    <input type="number" name="prese_elettriche" id="input_aula_7" min="1" value="${aula.numeroPreseElettriche?number}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>prese di rete</label>
    <input type="number" name="prese_di_rete" id="input_aula_8" min="1" value="${aula.numeroPreseDiRete?number}" oninput="validateAulaInputs(2)"/>
    <br>
    <label>note</label><br>
    <textarea name="note" id="input_aula_9" oninput="validateAulaInputs(2)">${aula.noteGeneriche}</textarea>
    <h3>Responsabile</h3>
    <label>aggiungi un nuovo responsabile</label>
    <button type="button" class="crea responsabile" onclick="inputResponsabile()" >vai</button>
    <table class="aula">
        <tr>
            <td class="extend header"></td>
            <td class="extend header">email</td>
        </tr>
        <tr>
            <td class="radio"><input type="radio" name="responsabile" value="${aula.responsabile.key}" onchange="validateAulaInputs(1)" checked/></td>
            <td class="extend">${aula.responsabile.email}</td>     
        </tr>
        <#list responsabili as responsabile>
        <#if !(responsabile.key == aula.responsabile.key)>
        <tr>
            <td class="radio"><input type="radio" name="responsabile" value="${responsabile.key}" onchange="validateAulaInputs(1)"/></td>
            <td class="extend">${responsabile.email}</td>     
        </tr>
        </#if>
        </#list>
    </table>

    <h3>Gruppi</h3>
    <p class="info">selezionare solo in caso di aggiornamento</p>
    <#assign i=1>
    <#list tipi_gruppo as tipo>
    <#assign name="gruppo"+i>
    <label>${tipo}:</label>
    <select name="${name}" onchange="validateAulaInputs(2)">
        <option value="0">nessuno</option>
        <#list gruppi as gruppo>
        <#if gruppo.tipoGruppo == tipo>
        <option value="${gruppo.key}">${gruppo.nome}</option>
        </#if>
        </#list>


    </select>
    <br>
    <#assign i=i+1>
    </#list>

    <h3>Attrezzature</h3>
    <table class="attrezzatura">

        <#assign i=1>
        <#list attrezzature as attrezzatura>
        <#assign name="attrezzatura"+i>
        <#if attrezzatura.aulaKey == aula.key>
        <tr>
            <td class="checkbox"><input type="checkbox" name="${name}" class="attrezzatura" value="${attrezzatura.key}" onchange="validateAulaInputs(2)" checked/></td>
            <td class="extend">${attrezzatura.nome?lower_case}</td>
            <td class="extend">${attrezzatura.numeroDiSerie?lower_case}</td>
        </tr>
        <#else>
        <tr>
            <td class="checkbox"><input type="checkbox" name="${name}" class="attrezzatura" value="${attrezzatura.key}" onchange="validateAulaInputs(2)"/></td>
            <td class="extend">${attrezzatura.nome?lower_case}</td>
            <td class="extend">${attrezzatura.numeroDiSerie?lower_case}</td>
        </tr>
        </#if>
        <#assign i=i+1>
        </#list>

    </table>

    <button type="submit" name="modify_aula" id="aula_button" value="1">aggiorna</button>
    <button type="submit" id="export_button" name="export_aula" value="1">esporta</button>

</form>