<form method="get" action="administration">
    <input type="hidden" name="IDgruppo" value="${gruppo.key}" />
    <label>nome:</label>
    <input type="text" name="nome" value="${gruppo.nome}"/>
    <br>
    <label>tipologia gruppo:</label>
    <input type="text" name="tipo"  value="${gruppo.tipo}"/>
    <br>
    <label>descrizione:</label>
    <input type="text" name="descrizione" value="${gruppo.descrizione}"/>
    <br>
    

    <button type="submit" name="modify_gruppo" value="1">inserisci</button>
    
</form>