<form method="get" action="administration">
    <input type="hidden" name="IDevento" value="${evento.key}" />
    <label>nome:</label>
    <input type="text" name="nome" id="input_evento_1" value="${evento.nome}"  oninput="validateEventsInputs(2)"/>
    <br>
    <label>descrizione:</label><br>
    <textarea name="descrizione" id="input_evento_2" oninput="validateEventsInputs(2)">${evento.descrizione}</textarea>
    <br>
    <h3>Tipologia</h3>
    <table class="tabella_insert">
        <#if evento.tipologia?string == "LEZIONE">
        <tr>
            <td class="radio"><input type="radio" name="tipologia" value="LEZIONE" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Lezione</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="tipologia" value="LEZIONE" onchange="showCorsi(2); validateEventsInputs(2)"/></td>
            <td>Lezione</td>
        </tr>
        </#if>
        <#if evento.tipologia?string == "ESAME">
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="ESAME" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Esame</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="ESAME" onchange="showCorsi(2); validateEventsInputs(2)" /></td>
            <td>Esame</td>
        </tr>
        </#if>
        <#if evento.tipologia?string == "PARZIALE">
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="PARZIALE" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Parziale</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="PARZIALE" onchange="showCorsi(2); validateEventsInputs(2)" /></td>
            <td>Parziale</td>
        </tr>
        </#if>
        <#if evento.tipologia?string == "SEMINARIO">
        <tr> 
            <td class="radio"><input type="radio" name="tipologia"  value="SEMINARIO" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Seminario</td>    
        </tr>
        <#else>
        <tr> 
            <td class="radio"><input type="radio" name="tipologia"  value="SEMINARIO" onchange="showCorsi(2); validateEventsInputs(2)" /></td>
            <td>Seminario</td>    
        </tr>
        </#if>
        <#if evento.tipologia?string == "RIUNIONE">
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="RIUNIONE" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Riunione</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="RIUNIONE" onchange="showCorsi(2); validateEventsInputs(2)" /></td>
            <td>Riunione</td>
        </tr>
        </#if>
        <#if evento.tipologia?string == "LAUREA">
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="LAUREA" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Laurea</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="LAUREA" onchange="showCorsi(2); validateEventsInputs(2)" /></td>
            <td>Laurea</td>
        </tr>
        </#if>
        <#if evento.tipologia?string == "ALTRO">
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="ALTRO" onchange="showCorsi(2); validateEventsInputs(2)" checked/></td>
            <td>Altro</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="tipologia"  value="ALTRO" onchange="showCorsi(2); validateEventsInputs(2)" /></td>
            <td>Altro</td>
        </tr>
        </#if>
    </table>
    <br>
    <#if (evento.tipologia?string == "LEZIONE") || (evento.tipologia?string == "ESAME") || (evento.tipologia?string == "PARZIALE")>
    <div id="corsi_evento">
        <h3>Corso</h3>
        <label>aggiungi un nuovo corso</label>
        <button type="button" class="crea corso" onclick="inputCorso()" >vai</button>
        <table class="evento">
            <tr>
                <td class="extend header"></td>
                <td class="extend header">nome</td>
                <td class="extend header">laurea</td>
                <td class="extend header">tipo</td>
                <td class="extend header">anno frequenza</td>
            </tr>
            <#list corsi as corso>
            <#if evento.corsoKey == corso.key>
            <tr>
                <td class="radio"><input type="radio" name="corso"  value="${corso.key}" onchange="validateEventsInputs(2);" checked/></td>
                <td class="extend">${corso.nome?lower_case}</td>
                <td class="extend">${(corso.corsoDiLaurea?string)?lower_case}</td>
                <td class="extend">${((corso.tipoLaurea?string)?replace("_"," "))?lower_case}</td>
                <td>${corso.annoDiFrequentazione}</td>
            </tr>
            <#else>
            <tr>
                <td class="radio"><input type="radio" name="corso"  value="${corso.key}" onchange="validateEventsInputs(2);"/></td>
                <td class="extend">${corso.nome?lower_case}</td>
                <td class="extend">${(corso.corsoDiLaurea?string)?lower_case}</td>
                <td class="extend">${((corso.tipoLaurea?string)?replace("_"," "))?lower_case}</td>
                <td>${corso.annoDiFrequentazione}</td>
            </tr>
            </#if>

            </#list>
        </table>
    </div>

    <#else>
    <div id="corsi_evento" style="display:none">
        <label>aggiungi un nuovo corso</label>
        <button type="button" class="crea corso" onclick="inputCorso()" >vai</button>
        <table class="evento">
            <tr>
                <td class="extend header"></td>
                <td class="extend header">nome</td>
                <td class="extend header">laurea</td>
                <td class="extend header">tipo</td>
                <td class="extend header">anno frequenza</td>
            </tr>
            <#list corsi as corso>
            <#if evento.corsoKey == corso.key>
            <tr>
                <td class="radio"><input type="radio" name="corso"  value="${corso.key}" onchange="validateEventsInputs(2);" checked/></td>
                <td class="extend">${corso.nome?lower_case}</td>
                <td class="extend">${(corso.corsoDiLaurea?string)?lower_case}</td>
                <td class="extend">${((corso.tipoLaurea?string)?replace("_"," "))?lower_case}</td>
                <td>${corso.annoDiFrequentazione}</td>
            </tr>
            <#else>
            <tr>
                <td class="radio"><input type="radio" name="corso"  value="${corso.key}" onchange="validateEventsInputs(2);"/></td>
                <td class="extend">${corso.nome?lower_case}</td>
                <td class="extend">${(corso.corsoDiLaurea?string)?lower_case}</td>
                <td class="extend">${((corso.tipoLaurea?string)?replace("_"," "))?lower_case}</td>
                <td>${corso.annoDiFrequentazione}</td>
            </tr>
            </#if>

            </#list>
        </table>
    </div>
    </#if>
    <br>
    <label>modifica la data:</label>
    <input type="date" name="data" id="input_evento_3" value="${evento.dataEvento}" oninput="validateEventsInputs(2); verifyCorrectnessTimeEvento(2)"/>
    <br>
    <label>modifica l'ora inizio:</label>
    <input type="time" step="900" name="ora_inizio" class="orario" value="${evento.oraInizio}" id="input_evento_4" oninput="validateEventsInputs(2); verifyCorrectnessTimeEvento(2)"/>
    <br>
    <label>modifica l'ora fine:</label>
    <input type="time" step="900" name="ora_fine" class="orario" value="${evento.oraFine}" id="input_evento_5" oninput="validateEventsInputs(2); verifyCorrectnessTimeEvento(2)"/>
    <br>
    <div id="request_time_input" style="display:none">
        <p>Attenzione. verificare che:</p>
        <ul>
            <li>La data inserita sia almeno la data odierna</li>
            <li>In caso di data odierna, l'orario di inizio non sia inferiore a quello attuale</li>
            <li>In caso di date successive, l'orario di inizio sia inferiore a quello di fine</li>
            <li>L'orario sia inserito con scarti di 15 minuti</li>
        </ul>
    </div>
    <h3>Ricorrenza:</h3>
    <table class="tabella_insert">
        <#if evento.ricorrenza?string == "GIORNALIERA">
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="GIORNALIERA" onchange="showFineRicorrenza(2); validateEventsInputs(2)" checked/></td>
            <td>Giornaliera</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="GIORNALIERA" onchange="showFineRicorrenza(2); validateEventsInputs(2)" /></td>
            <td>Giornaliera</td>
        </tr>
        </#if>
        <#if evento.ricorrenza?string == "SETTIMANALE">
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="SETTIMANALE" onchange="showFineRicorrenza(2); validateEventsInputs(2)" checked/></td>
            <td>Settimanale</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="SETTIMANALE" onchange="showFineRicorrenza(2); validateEventsInputs(2)" /></td>
            <td>Settimanale</td>
        </tr>
        </#if>
        <#if evento.ricorrenza?string == "MENSILE">
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="MENSILE" onchange="showFineRicorrenza(2); validateEventsInputs(2)" checked/></td>
            <td>Mensile</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="MENSILE" onchange="showFineRicorrenza(2); validateEventsInputs(2)" /></td>
            <td>Mensile</td>
        </tr>
        </#if>
        <#if evento.ricorrenza?string == "NESSUNA">
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="NESSUNA" onchange="showFineRicorrenza(2); validateEventsInputs(2)" checked/></td>
            <td>Nessuna</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="ricorrenza" class="ricorrenza" value="NESSUNA" onchange="showFineRicorrenza(2); validateEventsInputs(2)" /></td>
            <td>Nessuna</td>
        </tr>
        </#if>
    </table>
    <br>
    <#if evento.ricorrenza?string == "NESSUNA">
    <div id="fine_ricorrenza" style="display:none">
        <label for="input_evento_6">data fine ricorrenza:</label>
        <input type="date" name="data_fine_ricorrenza" id="input_evento_6" oninput="validateEventsInputs(2)" />
    </div>
    <#else>
    <div id="fine_ricorrenza">
        <label for="input_evento_6">data fine ricorrenza:</label>
        <input type="date" name="data_fine_ricorrenza" id="input_evento_6" oninput="validateEventsInputs(2)" value="${evento.dataFineRicorrenza}" />
    </div>
    </#if>
    <br>
    <h3>Aula</h3>
    <table class="evento">
        <#list aule as aula>
        <#if aula.key == evento.aula.key>
        <tr>
            <td class="radio"><input type="radio" name="aula" class="aule" value="${aula.key}" onchange="validateEventsInputs(2)" checked/></td>
            <td class="extend">${aula.nome}</td>
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="aula" class="aule" value="${aula.key}" onchange="validateEventsInputs(2)"/></td>
            <td class="extend">${aula.nome}</td>
        </tr>
        </#if>
        </#list>
    </table>
    <br>
    <h3>Responsabile</h3>
    <label>aggiungi un nuovo responsabile</label>
    <button type="button" class="crea responsabile" onclick="inputResponsabile()" >vai</button>
    <table class="evento">
        <tr>
            <td class="extend header"></td>
            <td class="extend header">email</td>
        </tr>
        <#list responsabili as responsabile>
        <#if responsabile.key == evento.responsabile.key>
        <tr>
            <td class="radio"><input type="radio" name="responsabile" class="responsabili" value="${responsabile.key}" onchange="validateEventsInputs(2)" checked/></td>
            <td class="extend">${responsabile.email}</td>     
        </tr>
        <#else>
        <tr>
            <td class="radio"><input type="radio" name="responsabile" class="responsabili" value="${responsabile.key}" onchange="validateEventsInputs(2)" /></td>
            <td class="extend">${responsabile.email}</td>     
        </tr>
        </#if>
        </#list>
    </table>
    <br>

    <button type="submit" id="button_events" name="modify_evento" value="1">modifica</button>
</form>
