<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Error page</title>
        <link rel="stylesheet" href="style/error.css" type="text/css" />
    </head>
    <body>
        <div class="bottom_page">
            <div class="container header_color">
                <div class="ten columns">
                    <div class="error">
                        ERROR
                    </div>
                </div>

            </div>
            <div class="ten columns">
                <p>Specifica errore: ${error}</p>  
            </div>
            <a href="${referrer}">torna indietro</a>
        </div>
    </body>
</html>
