<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Error page</title>
        <link rel="stylesheet" href="style/error.css" type="text/css" />
    </head>
    <body>

        <h1>ERROR</h1>

        <p>Specifica errore: ${error}</p>  

        <a href="${referrer}">torna indietro</a>

    </body>
</html>
