<div class="select">
<div class="container">
    
    <#list ricerche as ricerca>
        <#if ricerca == "datapicker">
 
        
        
        
        
        <#elseif ricerca == "corso">
        <div class="three columns">
            <form method="POST" action="specificCorso">
            <p>scegli un corso specifico</p>
            <input type="hidden" name="IDgruppo" value="${IDgruppo}"/>
            <button type="submit">cerca</button> 
            </form>
        </div>
        
        
        <#elseif ricerca == "aula">
        <div class="three columns">

            <form method="POST" action="specificAula">
            <p>seleziona un'aula specifica</p>
            <input type="hidden" name="IDgruppo" value="${IDgruppo}"/>
            <button type="submit">cerca</button>
            </form>

        </div>
       
        
        <#elseif ricerca == "orario_attuale">
        <div class="three columns">

            <form method="POST" action="eventi">
            <p>vedi gli eventi attuali</p>
            <input type="hidden" name="IDgruppo" value="${IDgruppo}"/>
            <button type="submit">vedi</button>
            </form>

        </div>
        </#if>
        </#list>
        
        <div class="four columns">


            <p>vedi gli eventi in un giorno specifico</p>
            <form method="POST" action="eventi">
            <input name="data" type="date" id="date"/><br>
            <!--<input type="text" id="datepicker"  oninput="check_data()"/>-->
            <button id="calendar" type="submit">cerca</button>
            <!--<script src="script/script.js"></script>-->
            </form>
            
        </div>
        
    </div>
</div>


