/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 giu 2023, 17:53:31
    Author     : Alberto Bogi
*/

/********************************

* proprietà per gruppi.ftl.html

********************************/
.gruppi fieldset{
    margin-top:1%;
    padding-top: 1%;
    border-color: black;
    
}

.gruppi fieldset button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 70%;
    cursor:pointer;
    
}

.gruppi fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
      
}

.gruppi fieldset label{
    font-style:italic;
    margin-left:0.5%;
}

.gruppi fieldset button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
}

.gruppi p{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    
    color: #add8e6;
    padding-top:0.5%;
    
}

@media only screen and (max-width: 800px) {
    
    .gruppi fieldset button{
        width:10%;
    }
    
    
}


/********************************

* proprietà per aule.ftl.html

********************************/



/* Stile personalizzato per il calendario */

.custom-datepicker-theme .ui-datepicker {

  display: block;

}

.aule .container{
    margin-bottom:3%;
}

.aule button{
    width: 20%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 3px;
}

.aule button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}


/********************************

* proprietà per seleziona_aula.ftl.html

********************************/

.seleziona.aula .container{
    margin-bottom: 3%;

    
    
}


.seleziona.aula button{
    width:10%;
    margin-bottom:3%;
}

.seleziona.aula fieldset{
    margin-top:1%;
    padding-top: 1%;
    border-color: black;
    
}

.seleziona.aula fieldset button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 70%;
    cursor:pointer;
    
}

.seleziona.aula fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
      
}

.seleziona.aula fieldset .info{
    font-style: italic;
    color: blue;
}

.seleziona.aula fieldset p{
    width:50%;
}



