/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 giu 2023, 17:53:31
    Author     : Alberto Bogi
*/


/********************************

* proprietà per select_client.ftl.html

********************************/

.select button{
    width: 20%;
    background-color: #add8e6;
    color:black;
    font-size: small;
    cursor:pointer;
    border-radius: 4px;
}

.select .four.columns{
    text-align:center;
}

.select button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.select p{
    font-weight: bold;
    font-style: italic;

}

.select{
    margin-bottom:2%;
    margin-top:1%;
}

input[type="date"]{
    background-color: #add8e6;
    padding: 1%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;
}

.select #daily_event button{
    width: 10%;
    background-color: #add8e6;
    color:black;
    font-size: small;
    cursor:pointer;
    border-radius: 4px;
}

.select #daily_event button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.select #daily_event button:disabled{
    color: #696969;
    pointer-events: none;
}


#normal_select{
    display:block;
}

#restrict_select{
    display:none;
}

#restrict_select label{
    font-weight: bold;
    font-style: italic;
    margin-right:1%;
    margin-top:10%;

}

#restrict_select .sel{

    margin-top:3%;

}

#restrict_select button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;

    cursor:pointer;
    border-radius: 4px;

}

@media only screen and (max-width: 1250px) {
    #normal_select{
        display:none;
    }

    #restrict_select{
        display:block;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #restrict_select button{
        width: 7%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
    #restrict_select button{
        width: 8%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 700px) {
    #restrict_select button{
        width: 15%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }


}

/********************************

* proprietà per select_client.ftl.html

********************************/

.select.administration .return{
    margin-top:3%;

}

.select.administration .return a{
    font-size:large;
    font-style: italic;
    font-weight: bold;
}

.select.administration p.context{
    font-style: inherit;
    font-weight: bold;
    font-family: sans-serif;
}

.select.administration label{
    font-family: sans-serif;
}




/********************************

* proprietà per gruppi.ftl.html

********************************/
.gruppi fieldset{
    margin-top:1%;
    padding-top: 1%;
    border-color: black;

}

.gruppi fieldset button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 70%;
    cursor:pointer;
    border-radius: 4px;
}

.gruppi fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.gruppi fieldset label{
    font-style:italic;
    margin-left:0.5%;
}

.gruppi fieldset button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
}

.gruppi .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;

    color: #add8e6;
    padding-top:0.5%;

}

@media only screen and (max-width: 800px) {

    .gruppi fieldset button{
        width:10%;
    }


}


/********************************

* proprietà per eventi_attuali.ftl.html

********************************/

.eventi.attuali .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;

    color: #add8e6;
    padding-top:0.5%;

}


.eventi.attuali .messaggio.aule{
    text-align: center;
    font-size: medium;
    font-style: italic;
    color: black;
    padding-top:0.5%;

}

.eventi.attuali fieldset legend{
    font-size: x-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
}

.eventi.attuali fieldset p{
    font-weight: normal;
    font-style: inherit;
}

.eventi.attuali fieldset .descrizione{
    font-style: italic;
    font-size: small;
}

.eventi.attuali fieldset .info{
    color: blue;
}

.eventi.attuali fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.eventi.attuali fieldset .contenitore_evento div{
    margin-bottom: 10px;
}





.eventi.attuali .container{
    margin-bottom:3%;
}

.eventi.attuali button{
    width: 20%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;
}

.eventi.attuali button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}



/********************************

* proprietà per seleziona_aula.ftl.html

********************************/

.seleziona.aula .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;

    color: #add8e6;
    padding-top:0.5%;

}

.seleziona.aula .container{
    margin-bottom: 3%;
}



.seleziona.aula button{
    width:10%;
    margin-bottom:3%;
}

.seleziona.aula fieldset{
    margin-top:1%;
    padding-top: 1%;


}

.seleziona.aula fieldset button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: small;
    cursor:pointer;
    margin-top:1%;
    margin-bottom: 1%;
}

.seleziona.aula fieldset button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.seleziona.aula fieldset legend{
    font-size: x-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.seleziona.aula fieldset p{
    font-weight: normal;
    font-style: inherit;
}

.seleziona.aula fieldset .info{
    font-weight: normal;
    color: blue;
}

.seleziona.aula fieldset .note{
    font-style: italic;
    font-size: small;
}

.seleziona.aula fieldset .plane.aula{
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
    background-color: #f7f7f7;
}

@media only screen and (max-width: 900px) {

    .seleziona.aula fieldset button{
        width: 10%;
        background-color: #add8e6;
        color:black;
        border-radius:5px;
        font-size: small;
        cursor:pointer;
        margin-top:1%;
        margin-bottom: 1%;
    }


}



/********************************

* proprietà per eventi_aula.ftl.html

********************************/

.eventi.aula input[type="week"]{
    background-color: #add8e6;
    padding: 0.5%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.eventi.aula .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.aula .settimana{
    text-align:center;
}

.eventi.aula .settimana p{
    font-weight: bold;
    font-style: inherit;

}

.eventi.aula .settimana #button_week{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: small;
    cursor:pointer;
    border-radius: 4px;

}

.eventi.aula .settimana #button_week:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.eventi.aula .settimana #button_week:disabled{
    color: #696969;
    pointer-events: none;
}

.eventi.aula fieldset{
    height: 50%;
    overflow:auto;
}

.eventi.aula fieldset legend{
    font-size: x-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.aula fieldset p{
    font-weight: normal;
    font-style: inherit;
}

.eventi.aula fieldset .descrizione{
    font-size: small;
    font-style: italic;
}

.eventi.aula fieldset .info{
    color: blue;

}

.eventi.aula fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 1%;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.eventi.aula fieldset .contenitore_evento div{
    margin-bottom: 2%;
}

.eventi.aula .messaggio.eventi p{
    text-align: center;
    font-style: italic;
    padding-top:0.5%;

}



@media only screen and (max-width: 900px) {

    .eventi.aula .settimana #button_week{
        width: 10%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        font-size: small;
        cursor:pointer;
        border-radius: 4px;

    }

}


/********************************

* proprietà per eventi_corso.ftl.html

********************************/

.eventi.corso input[type="week"]{
    background-color: #add8e6;
    padding: 0.5%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.eventi.corso .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.corso .settimana{
    text-align:center;
}

.eventi.corso .settimana #button_week{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: small;
    cursor:pointer;
    border-radius: 4px;

}

.eventi.corso .settimana #button_week:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.eventi.corso .settimana #button_week:disabled{
    color: #696969;
    pointer-events: none;
}

.eventi.corso .settimana p{
    font-weight: bold;
    font-style: italic;

}

.eventi.corso fieldset{
    height: 300px;
    overflow:auto;
}

.eventi.corso fieldset legend{
    font-size: x-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.corso fieldset p{
    font-weight: normal;
    font-style: inherit;
}

.eventi.corso fieldset .descrizione{
    font-style: italic;
    font-size: small;
}

.eventi.corso fieldset .info{
    color: blue;
}

.eventi.corso fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 1%;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.eventi.corso fieldset .contenitore_evento div{
    margin-bottom: 10px;
}

.eventi.corso .messaggio.eventi p{
    text-align: center;
    font-weight: normal;
}

@media only screen and (max-width: 900px) {

    .eventi.corso .settimana #button_week{
        width: 10%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        font-size: small;
        cursor:pointer;
        border-radius: 4px;

    }

}



/********************************

* proprietà per seleziona_corso.ftl.html

********************************/

.seleziona.corso table{
    border-radius: 10px;
    width: 100%;
}

.seleziona.corso th,td{
    border: 1px solid black;
    text-align: center;
}



.seleziona.corso .info{
    color: blue;
}



.seleziona.corso th{
    background-color: #e9e9e9;
}



.seleziona.corso .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}



.seleziona.corso .container{
    margin-bottom: 3%;
}



.seleziona.corso button{
    width:10%;
    margin-bottom:3%;
}

.seleziona.corso fieldset{
    margin-top:1%;
    padding-top: 1%;


}


.seleziona.corso table button{
    width: 90%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: small;
    cursor:pointer;
    margin-top:1%;
    margin-bottom: 1%;
}



.seleziona.corso table button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.seleziona.corso .ricerca_form{
    text-align: center;
    margin-bottom: 2%;
}

.seleziona.corso .ricerca_form input{
    margin-bottom:1%;
}

.seleziona.corso #ricerca{
    border-radius: 5px;
    border-color: #add8e6;
}

.seleziona.corso #ricerca:focus{
    border-radius: 5px;
    border-color: #add8e6;
    background-color: #efefef;
}

.seleziona.corso .ricerca_form button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: small;
    cursor:pointer;
    margin-left: 1%;
}

.seleziona.corso .ricerca_form button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

@media only screen and (max-width: 900px) {

    .seleziona.corso .ricerca_form button{
        width: 10%;
        background-color: #add8e6;
        color:black;
        border-radius:5px;
        font-size: small;
        cursor:pointer;
        margin-left: 1%;

    }

}





/********************************

* proprietà per eventi_giornalieri.ftl.html

********************************/

.eventi.giornalieri input[type="date"]{
    background-color: #add8e6;
    padding: 0.5%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.eventi.giornalieri .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.giornalieri .giorno{
    text-align:center;
}

.eventi.giornalieri .giorno p{
    font-weight: bold;
    font-style: italic;

}

.eventi.giornalieri fieldset{
    height: 50%;
    overflow:auto;
}

.eventi.giornalieri fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.giornalieri fieldset .descrizione{
    font-style: italic;
    font-size: small;
}

.eventi.giornalieri fieldset .info{
    font-style: italic;
    color: blue;
}

.eventi.giornalieri fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.eventi.giornalieri fieldset .contenitore_evento div{
    margin-bottom: 10px;
}

#button_date{
    width: 4%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;

}

#button_date:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

#button_date:disabled{
    color: #696969;
    pointer-events: none;

}


/********************************

* proprietà per csv_eventi.ftl.html

********************************/
.CSV.form .return{
    margin-top:3%;

}

.CSV.form .return a{
    font-size:large;
    font-style: italic;
    font-weight: bold;
}

.CSV.form label{
    margin-bottom:1%;
}

.CSV.form p{
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.CSV.form button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: small;
    cursor:pointer;
    margin-top:1%;
    margin-bottom: 1%;
}

.CSV.form button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;

}

.CSV.form button:disabled{
    color: #696969;
    pointer-events: none;

}

.CSV.form input[type="date"]{
    background-color: #add8e6;
    padding: 0.2%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .CSV.form button{
        width: 10%;
        font-size: small;
        background-color: #add8e6;
        color:black;
        cursor:pointer;
        border-radius: 4px;
    }


}
@media only screen and (max-width: 900px) {
    .CSV.form button{
        width: 15%;
        font-size: small;
        background-color: #add8e6;
        color:black;
        cursor:pointer;
        border-radius: 4px;
    }


}

/********************************

* proprietà per aule_administration.ftl.html

********************************/



.aule.administration .columns.center{

    border-left:1px solid black;
    padding-left: 2%;
}



.aule.administration p{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
    text-align:left;
}

.aule.administration input{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.aule.administration input:focus{
    outline:none;
    border: 2px solid #add8e6;

}

.aule.administration input:placeholder-shown {
    font-style: italic;
}

.aule.administration textarea{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.aule.administration textarea:focus{
    outline:none;
    border: 2px solid #add8e6;

}


.aule.administration input[type="number"]{
    width: 10%;
}

.aule.administration table.aula{
    max-height: 500px;
    overflow:auto;
    margin-bottom:3%;
}

.aule.administration table.aula td.radio{
    background-color: #add8e6;
}

.aule.administration table.aula td.extend{
    padding: 4px;


}

.aule.administration table.aula td.extend.header{
    font-weight: bold;
    background-color: #add8e6;
}

.aule.administration select{
    margin-bottom: 3%;
    width:40%;
    border: 2px solid #CCC;
}

.aule.administration select:focus{
    outline:none;
    border-color: #add8e6;
}

.aule.administration table.attrezzatura{
    margin-bottom: 5%;
}


.aule.administration table.attrezzatura td.extend{
    text-align: center;
    width:40%;
    padding:4px;
}

.aule.administration table.attrezzatura td.checkbox{
    background-color: #add8e6;
}

.aule.administration button{
    width:30%;
    font-size: small;
    background-color: #add8e6;
    font-weight: bold;
    
}

.aule.administration button:hover{
    background-color: white;
    font-weight: bold;
    color: #add8e6;
    border-color: #add8e6;
    cursor: pointer;
}

.aule.administration button:disabled{
    color: #696969;
    pointer-events: none;
    
}

.aule.administration button[name="insert_aula"]{
    margin-bottom: 10%;
}

.aule.administration table.aula{
    max-height: 200px;
    overflow:auto;
    margin-bottom: 3%;
}

.aule.administration button.crea.responsabile{
    margin-bottom: 2%;
    width: 10%;

}

.aule.administration p.info{
    font-style: italic;
    font-size: small;
    color: black;
    text-shadow:none;
}


/********************************

* proprietà per eventi_administration.ftl.html

********************************/

.eventi.administration .columns.center{

    border-left:1px solid black;
    padding-left: 2%;
}

.eventi.administration input{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius: 5px;
    border-color: #CCC;
}


.eventi.administration #input1Ev{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius: 5px;
    border-color: #CCC;
}

.eventi.administration #ricerca_evento{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius: 5px;
    border-color: #CCC;
}

.eventi.administration #input1Ev:focus{
    outline: none;
    border: 2px solid #add8e6;
}

.eventi.administration #ricerca_evento:focus{
    outline: none;
    border: 2px solid #add8e6;
}


.eventi.administration input:focus{
    outline: none;
    border: 2px solid #add8e6;

}

.eventi.administration table.tabella_insert td{
    border:none;
    text-align: left;
}

.eventi.administration table.tabella_insert td.radio{
    background-color: #add8e6;
}

.eventi.administration input.orario{
    background-color: #add8e6;
    margin-bottom: 3%;
    border-width: 2px;
    border-radius: 5px;

}

.eventi.administration textarea{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.eventi.administration textarea:focus{
    outline:none;
    border: 2px solid #add8e6;
}


.eventi.administration p{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
}

.eventi.administration p.info{
    font-size: x-small;
    font-style:italic;
    text-shadow: none;
    color: black;
}


.eventi.administration button{
    width:30%;
    background-color: #add8e6;
    font-weight: bold;
    font-size: small;
}

.eventi.administration button:disabled{
    color: #696969;
    pointer-events: none;
}

.eventi.administration button.crea.corso{
    border-radius: 4px;
    width: 10%;
    background-color: #add8e6;
    cursor: pointer;
    margin-bottom: 2%;

}

.eventi.administration button.crea.corso:hover{
    color: #add8e6;
    background-color: white;
    border-color: #add8e6;


}

.eventi.administration button.crea.responsabile{
    border-radius: 4px;
    width: 10%;
    background-color: #add8e6;
    cursor: pointer;
    margin-bottom: 2%;

}

.eventi.administration button.crea.responsabile:hover{
    color: #add8e6;
    background-color: white;
    border-color: #add8e6;


}

.eventi.administration table.evento{
    max-height: 500px;
    overflow:auto;
    margin-bottom:3%;
}

.eventi.administration table.evento td.radio{
    background-color: #add8e6;
}

.eventi.administration table.evento td.extend{
    padding: 4px;


}

.eventi.administration table.evento td.extend.header{
    font-weight: bold;
    background-color: #add8e6;
}

.eventi.administration .input.corso{
    border-left: 2px solid black;
    padding-left: 1%;
}

#request_time_input p{
    font-weight: bold;
    color:red;
    text-shadow: none;
    font-size: small;
    
}

#request_time_input ul{
    background-color: transparent;
    font-size: small;
    list-style-type: circle;
    
}







/********************************

* proprietà per gruppi_administration.ftl.html

********************************/



.gruppi.administration .columns.center{

    border-left:1px solid black;
    padding-left: 2%;
}



.gruppi.administration p{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
    text-align:left;
}

.gruppi.administration input{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.gruppi.administration input:focus{
    outline:none;
    border: 2px solid #add8e6;

}

.gruppi.administration input:placeholder-shown {
    font-style: italic;
}

.gruppi.administration textarea{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.gruppi.administration textarea:focus{
    outline:none;
    border: 2px solid #add8e6;

}


.gruppi.administration input[type="number"]{
    width: 10%;
}

.gruppi.administration table.responsabile td{
    border:none;
    text-align: left;
}

.gruppi.administration table.responsabile td.radio{
    background-color: #add8e6;
}

.gruppi.administration select{
    margin-bottom: 3%;
    width:40%;
    border: 2px solid #CCC;
}

.gruppi.administration select:focus{
    outline:none;
    border-color: #add8e6;
}

.gruppi.administration table.attrezzatura{
    margin-bottom: 5%;
}


.gruppi.administration table.attrezzatura td.extend{
    text-align: center;
    width:40%;
    padding:4px;
}

.gruppi.administration table.attrezzatura td.checkbox{
    background-color: #add8e6;
}

.gruppi.administration button{
    width:30%;
    font-size: small;
    background-color: #add8e6;
    font-weight: bold;
}

.gruppi.administration button:disabled{
    color: #696969;
    pointer-events: none;
}

.gruppi.administration table.gruppo{
    max-height: 200px;
    overflow:auto;
    margin-bottom: 3%;
}

.gruppi.administration table.gruppo td{
    text-align: left;

}

.gruppi.administration table.gruppo td.radio{
    background-color: #add8e6;
}

.gruppi.administration table.gruppo td.extend{
    padding: 4px;

}

.gruppi.administration table.gruppo td.extend.header{
    font-weight: bold;
    background-color: #add8e6;
}

.gruppi.administration p.info{
    font-style: italic;
    font-size: small;
    color: black;
    text-shadow:none;
}

.gruppi.administration p.info_update_tipo{
    font-style: italic;
    font-size: x-small;
    color: black;
    text-shadow:none;
}

#tipo_gruppo{
    margin-bottom: 5%;
    margin-top: 1%;
}


/********************************

* proprietà per output_administration_response.ftl.html

********************************/

.output.administration p.response{
    font-size:large;
    color: #add8e6;
    font-weight: bold;
}

.output.administration .information{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.output.administration ul{
    background-color: transparent;
    font-size: medium;
    list-style-type: circle;

}

/********************************

* proprietà per corsi_administration.ftl.html

********************************/


.corsi.administration p{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
    text-align:left;
}

.corsi.administration input{
    margin-bottom: 2%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.corsi.administration input:focus{
    outline:none;
    border: 2px solid #add8e6;

}

.corsi.administration input:placeholder-shown {
    font-style: italic;
}


.corsi.administration input[type="number"]{
    width: 5%;
}


.corsi.administration select{
    margin-bottom: 2%;
    width:10%;
    border: 2px solid #CCC;
}

.corsi.administration select:focus{
    outline:none;
    border-color: #add8e6;
}


.corsi.administration button{
    width:10%;
    background-color: #add8e6;
    color: black;
    font-size: small;
    cursor: pointer;
    margin-bottom:2%;
}

.corsi.administration button:disabled{
    color: #696969;
    pointer-events: none;
}


.corsi.administration table.corso{
    max-height: 200px;
    overflow:auto;
    margin-bottom: 3%;
}

.corsi.administration table.corso td{
    text-align: center;

}

.corsi.administration table.corso td.radio{
    background-color: #add8e6;
}

.corsi.administration table.corso td.extend{
    padding: 4px;

}

.corsi.administration table.corso td.extend.header{
    font-weight: bold;
    background-color: #add8e6;
}

.corsi.administration p.info{
    font-style: italic;
    font-size: small;
    color: black;
    text-shadow:none;
}

/********************************

* proprietà per responsabili_administration.ftl.html

********************************/


.responsabili.administration p{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
    text-align:left;
}

.responsabili.administration input{
    margin-bottom: 2%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.responsabili.administration input:focus{
    outline:none;
    border: 2px solid #add8e6;

}

.responsabili.administration input:placeholder-shown {
    font-style: italic;
}


.responsabili.administration input[type="number"]{
    width: 5%;
}


.responsabili.administration select{
    margin-bottom: 2%;
    width:10%;
    border: 2px solid #CCC;
}

.responsabili.administration select:focus{
    outline:none;
    border-color: #add8e6;
}


.responsabili.administration button{
    width:10%;
    background-color: #add8e6;
    color: black;
    font-size: small;
    cursor: pointer;
    margin-bottom:2%;
}

.responsabili.administration button:disabled{
    color: #696969;
    pointer-events: none;
}


.responsabili.administration table.corso{
    max-height: 200px;
    overflow:auto;
    margin-bottom: 3%;
}

.responsabili.administration table.corso td{
    text-align: center;

}

.responsabili.administration table.corso td.radio{
    background-color: #add8e6;
}

.responsabili.administration table.corso td.extend{
    padding: 4px;

}

.responsabili.administration table.corso td.extend.header{
    font-weight: bold;
    background-color: #add8e6;
}

.responsabili.administration p.info{
    font-style: italic;
    font-size: small;
    color: black;
    text-shadow:none;
}
