/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 giu 2023, 17:53:31
    Author     : Alberto Bogi
*/


/********************************

* proprietà per select.ftl.html

********************************/

.select button{
    width: 20%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;
}

.select .four.columns{
    text-align:center;
}

.select button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.select p{
    font-weight: bold;
    font-style: italic;

}

.select{
    margin-bottom:2%;
    margin-top:1%;
}

input[type="date"]{
    background-color: #add8e6;
    padding: 1%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;
}

#calendar{
    width: 15%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;

}

#calendar:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

#calendar:disabled{
    color: #696969;
    pointer-events: none;
}


#normal_select{
    display:block;
}

#restrict_select{
    display:none;
}

#restrict_select label{
    font-weight: bold;
    font-style: italic;
    margin-right:1%;
    margin-top:10%;

}

#restrict_select .sel{

    margin-top:3%;

}

#restrict_select button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;

    cursor:pointer;
    border-radius: 4px;

}

@media only screen and (max-width: 1250px) {
    #normal_select{
        display:none;
    }

    #restrict_select{
        display:block;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #restrict_select button{
        width: 7%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
    #restrict_select button{
        width: 8%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 700px) {
    #restrict_select button{
        width: 15%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }


}






/********************************

* proprietà per gruppi.ftl.html

********************************/
.gruppi fieldset{
    margin-top:1%;
    padding-top: 1%;
    border-color: black;

}

.gruppi fieldset button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 70%;
    cursor:pointer;
    border-radius: 4px;
}

.gruppi fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.gruppi fieldset label{
    font-style:italic;
    margin-left:0.5%;
}

.gruppi fieldset button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
}

.gruppi .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;

    color: #add8e6;
    padding-top:0.5%;

}

@media only screen and (max-width: 800px) {

    .gruppi fieldset button{
        width:10%;
    }


}


/********************************

* proprietà per aule.ftl.html

********************************/

.aule .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;

    color: #add8e6;
    padding-top:0.5%;

}

.aule .nome_aula{
    color: #add8e6;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 19px;
}




.aule fieldset .descrizione{
    font-style: italic;
}

.aule fieldset .info{
    font-style: italic;
    color: blue;
}

.aule fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.aule fieldset .contenitore_evento div{
    margin-bottom: 10px;
}





.aule .container{
    margin-bottom:3%;
}

.aule button{
    width: 20%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;
}

.aule button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}



/********************************

* proprietà per seleziona_aula.ftl.html

********************************/

.seleziona.aula .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;

    color: #add8e6;
    padding-top:0.5%;

}

.seleziona.aula .container{
    margin-bottom: 3%;
}



.seleziona.aula button{
    width:10%;
    margin-bottom:3%;
}

.seleziona.aula fieldset{
    margin-top:1%;
    padding-top: 1%;


}

.seleziona.aula fieldset button{
    width: 5%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: 100%;
    cursor:pointer;
    margin-top:1%;
    margin-bottom: 1%;
}

.seleziona.aula fieldset button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.seleziona.aula fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.seleziona.aula fieldset .info{
    font-style: italic;
    color: blue;
}

.seleziona.aula fieldset .note{
    font-style: italic;
    font-size: large;
}

.seleziona.aula fieldset .plane.aula{
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
    background-color: #f7f7f7;
}


/********************************

* proprietà per eventi_aula.ftl.html

********************************/

.eventi.aula input[type="week"]{
    background-color: #add8e6;
    padding: 0.5%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.eventi.aula .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.aula .settimana{
    text-align:center;
}

.eventi.aula .settimana p{
    font-weight: bold;
    font-style: italic;

}

.eventi.aula fieldset{
    height: 50%;
    overflow:auto;
}

.eventi.aula fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.aula fieldset .descrizione{
    font-style: italic;
    font-size: small;
}

.eventi.aula fieldset .info{
    font-style: italic;
    color: blue;
}

.eventi.aula fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.eventi.aula fieldset .contenitore_evento div{
    margin-bottom: 10px;
}

.eventi.aula .messaggio.aule{
    text-align: center;
    font-size: large;
    font-style: italic;
    color: black;
    padding-top:0.5%;

}

#button_week{
    width: 4%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;

}

#button_week:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

#button_week:disabled{
    color: #696969;
    pointer-events: none;
}


/********************************

* proprietà per eventi_corso.ftl.html

********************************/

.eventi.corso input[type="week"]{
    background-color: #add8e6;
    padding: 0.5%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.eventi.corso .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.corso .settimana{
    text-align:center;
}

.eventi.corso .settimana p{
    font-weight: bold;
    font-style: italic;

}

.eventi.corso fieldset{
    height: 50%;
    overflow:auto;
}

.eventi.corso fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.corso fieldset .descrizione{
    font-style: italic;
    font-size: small;
}

.eventi.corso fieldset .info{
    font-style: italic;
    color: blue;
}

.eventi.corso fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.eventi.corso fieldset .contenitore_evento div{
    margin-bottom: 10px;
}

#button_week{
    width: 4%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;

}

#button_week:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

#button_week:disabled{
    color: #696969;
    pointer-events: none;
}


/********************************

* proprietà per seleziona_corso.ftl.html

********************************/

.seleziona.corso table{
    border-radius: 10px;
    width: 100%;
}

.seleziona.corso th,td{
    border: 1px solid black;
    text-align: center;
}



.seleziona.corso .info{
    font-style: italic;
    color: blue;
}



.seleziona.corso th{
    background-color: #e9e9e9;
}



.seleziona.corso .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}



.seleziona.corso .container{
    margin-bottom: 3%;
}



.seleziona.corso button{
    width:10%;
    margin-bottom:3%;
}

.seleziona.corso fieldset{
    margin-top:1%;
    padding-top: 1%;


}

.seleziona.corso fieldset button{
    width: 5%;
}

.seleziona.corso table button{
    width: 60%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: 100%;
    cursor:pointer;
    margin-top:1%;
    margin-bottom: 1%;
}



.seleziona.corso table button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

.seleziona.corso .ricercaForm{
    text-align: center;
    margin-bottom: 2%;
}

.seleziona.corso #ricerca{
    border-radius: 5px;
    border-color: #add8e6;
}

.seleziona.corso #ricerca:focus{
    border-radius: 5px;
    border-color: #add8e6;
    background-color: #efefef;
}

.seleziona.corso .ricercaForm button{
    width: 8%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: 80%;
    cursor:pointer;
    margin-left: 1%;
}

.seleziona.corso .ricercaForm button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}





/********************************

* proprietà per eventi_giornalieri.ftl.html

********************************/

.eventi.giornalieri input[type="date"]{
    background-color: #add8e6;
    padding: 0.5%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.eventi.giornalieri .title{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.giornalieri .giorno{
    text-align:center;
}

.eventi.giornalieri .giorno p{
    font-weight: bold;
    font-style: italic;

}

.eventi.giornalieri fieldset{
    height: 50%;
    overflow:auto;
}

.eventi.giornalieri fieldset legend{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;

}

.eventi.giornalieri fieldset .descrizione{
    font-style: italic;
    font-size: small;
}

.eventi.giornalieri fieldset .info{
    font-style: italic;
    color: blue;
}

.eventi.giornalieri fieldset .contenitore_evento{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.eventi.giornalieri fieldset .contenitore_evento div{
    margin-bottom: 10px;
}

#button_date{
    width: 4%;
    background-color: #add8e6;
    color:black;
    border-radius:5%;
    font-size: 90%;
    cursor:pointer;
    border-radius: 4px;

}

#button_date:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;
    text-align: center;
}

#button_date:disabled{
    color: #696969;
    pointer-events: none;

}


/********************************

* proprietà per csv_eventi.ftl.html

********************************/


.CSV.form label{
    margin-bottom:1%;
}

.CSV.form p{
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.CSV.form button{
    width: 7%;
    background-color: #add8e6;
    color:black;
    border-radius:5px;
    font-size: small;
    cursor:pointer;
    margin-top:1%;
    margin-bottom: 1%;
}

.CSV.form button:hover{
    background-color: white;
    color: #add8e6;
    border-color: #add8e6;

}

.CSV.form input[type="date"]{
    background-color: #add8e6;
    padding: 0.2%;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1%;

}

.CSV.form label{
    font-style: italic;
}

.CSV.form .back{
    text-align: center;

}

.CSV.form .back p{
    font-style: italic;
    font-size: medium;
}

.CSV.form .back button{
    width:30%;
}

.CSV.form .back button img{
    width: 30%;

}

@media only screen and (max-width: 1250px) {
    #normal_select{
        display:none;
    }

    #restrict_select{
        display:block;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    CSV.form button{
        width: 7%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
    CSV.form button{
        width: 8%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 700px) {
    CSV.form button{
        width: 15%;
        background-color: #add8e6;
        color:black;
        border-radius:5%;
        cursor:pointer;
        border-radius: 4px;
    }


}

/********************************

* proprietà per aule_administration.ftl.html

********************************/



.aule.administration .columns.center{

    border-left:1px solid black;
    padding-left: 2%;
}



.aule.administration p{
    font-size: xx-large;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #add8e6;
    padding-top:0.5%;
    text-align:left;
}

.aule.administration input{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.aule.administration input:focus{
    outline:none;
    border: 2px solid #add8e6;

}

.aule.administration input:placeholder-shown {
    font-style: italic;
}

.aule.administration textarea{
    margin-bottom: 3%;
    border-width: 2px;
    border-radius:5px;
    border-color: #CCC;

}

.aule.administration textarea:focus{
    outline:none;
    border: 2px solid #add8e6;

}


.aule.administration input[type="number"]{
    width: 10%;
}

.aule.administration table.responsabile td{
    border:none;
    text-align: left;
}

.aule.administration table.responsabile td.radio{
    background-color: #add8e6;
}

.aule.administration select{
    margin-bottom: 3%;
    width:40%;
    border: 2px solid #CCC;
}

.aule.administration select:focus{
    outline:none;
    border-color: #add8e6;
}

.aule.administration table.attrezzatura{
    margin-bottom: 5%;
}


.aule.administration table.attrezzatura td.extend{
    text-align: center;
    width:40%;
    padding:4px;
}

.aule.administration table.attrezzatura td.checkbox{
    background-color: #add8e6;
}

.aule.administration button{
    width:30%;
}

.aule.administration button:disabled{
    color: #696969;
    pointer-events: none;
}

.aule.administration table.aula{
    max-height: 200px;
    overflow:auto;
    margin-bottom: 3%;
}

.aule.administration table.aula td{
    text-align: left;
    
}

.aule.administration table.aula td.radio{
    background-color: #add8e6;
}

.aule.administration table.aula td.extend{
    padding: 4px;
    
}

.aule.administration p.info{
    font-style: italic;
    font-size: small;
    color: black;
    text-shadow:none;
}



